{# templates/form/custom_form_theme.html.twig #}

{#{% block _category_widget %}#}
{#	<div class="custom-category-widget">#}
{#		<div class="form-group">#}
{#			<label for="{{ id }}">{{ label }}</label>#}
{#			{{ block('form_widget_simple') }}#}
{#		</div>#}
{#	</div>#}
{#{% endblock %}#}
