{% extends 'base.html.twig' %}

{% block title %}ChadoLib{% endblock %}

{% block body %}

	<!-- Container for demo purpose -->
	<div>
		<section class=" text-center lg:text-left">
			<div class="px-6 md:px-12">
				<div class="grid items-center lg:grid-cols-2 lg:gap-x-12">
					<div class="mb-12 lg:mb-0">
						<h2 class=" text-5xl font-bold leading-tight tracking-tight">
							Êtes-vous prêt pour <br/>
							<span class="text-success dark:text-[#B36700]">Nouvelle lecture ?</span>
						</h2>
						<p class="my-5">ChadoLib est une librairie en ligne qui réinvente l'expérience de lecture pour
							les
							passionnés de livres. Avec une sélection variée de titres allant des classiques
							intemporels aux derniers best-sellers, ChadoLib offre aux lecteurs une opportunité de
							redécouvrir le plaisir de la lecture. <br><br>

							Le site propose une interface conviviale permettant aux utilisateurs de parcourir les
							différentes catégories de livres, de consulter des recommandations personnalisées et de
							découvrir de nouveaux auteurs. En encourageant les échanges et les interactions au sein
							d'une communauté de lecteurs, ChadoLib favorise les discussions, les partages d'avis et
							les découvertes littéraires. <br><br>

							Que vous cherchiez un roman captivant, un livre de développement personnel ou une œuvre
							classique, ChadoLib s’engage de satisfaire tous les goûts et à offrir une expérience de
							lecture immersive. Plongez dans un univers littéraire riche et laissez-vous emporter par les
							mots et les histoires qui éveillent l’imagination. ChadoLib, la librairie en ligne qui
							ravive votre passion pour les livres.</p>
						<a class="mb-2 inline-block rounded bg-[#B36700] px-12 pt-4 pb-3.5 text-sm font-medium
						uppercase
						leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] md:mr-2 md:mb-0"
						   data-te-ripple-init data-te-ripple-color="light" href="#topBook" role="button">Trouve ta
							lecture</a>
						<a class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal
						 text-[#B36700] transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-10
						 hover:text-[#B36700] focus:text-[#B36700] focus:outline-none focus:ring-0 active:text-success-700 dark:hover:bg-neutral-700 dark:hover:bg-opacity-40"
						   data-te-ripple-init data-te-ripple-color="light" href="#actu" role="button"> Quoi de neuf
							dans la littérature</a>
					</div>

					<div class="flex justify-center mb-12 lg:mb-0">
						<img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80"
						     class=" rounded-lg shadow-lg dark:shadow-black/20" style="height: 44rem" alt=""/>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--/ Container for demo purpose -->

	<!--Cards -->
	<section class="text-gray-600 body-font my-32">
		<h2 id="topBook" class="pc-title mb-10 underline ">Nos coups de cœur :</h2>

		<div class="container px-5 mb-24 mx-auto">
			<div class="flex overflow-scroll snap-x -m-4">
				{% for book in mostFavoriteBooks %}
					{% include ('cards/book-card.html.twig') %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--/Cards -->

	<!--Cards -->
	<section class="text-gray-600 body-font my-32">
		<h2 id="topBook" class="pc-title mb-10 underline">Nos dernières lectures :</h2>

		<div class="container px-5 mb-24 mx-auto">
			<div class="flex overflow-scroll snap-x -m-4">
				{% for book in lastBooks %}
					{% include ('cards/book-card.html.twig') %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--/Cards -->

	<!--Cards -->
	<section class="text-gray-600 body-font my-32">
		<h2 id="topBook" class="pc-title mb-10 underline">Nos lectures hasardeuses :</h2>

		<div class="container px-5 mb-24 mx-auto">
			<div class="flex overflow-scroll snap-x -m-4">
				{% for book in randBooks %}
					{% include ('cards/book-card.html.twig') %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!--/Cards -->

	<!-- Section: list authors -->
	<div class="flex-1 px-2 sm:px-0 my-28">
		<h2 class=" pc-title underline">Nos categories :</h2>
		<div class="mb-10 sm:mb-0 mt-10 grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
			{% for author in authors | slice (0,12) %}
				<a href="{{ path('app_author_show',{'id': author.id }) }}" class=" h-24 flex justify-center
                items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl
                hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
					<div class="flex justify-center p-4  leading-normal">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 hover:underline
                                dark:text-white">{{ author.name }}</h5>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	<!--/ Section: list authors -->

	<!-- Section: list categories -->
	<div class="flex-1 px-2 sm:px-0 my-28">
		<h2 class=" pc-title underline">Nos categories :</h2>
		<div class="mb-10 sm:mb-0 mt-10 grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
			{% for category in categories | slice (0,12) %}
				<a href="{{ path('app_category_show',{'id': category.id }) }}" class=" h-24 flex justify-center
                items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl
                hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
					<div class="flex justify-center p-4  leading-normal">
						<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 hover:underline
                                dark:text-white">{{ category.name }}</h5>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	<!--/ Section: list categories -->

	<!-- ====== Cards Section Start -->
	<section id="actu" class=" pb-10 lg:pb-20 ">
		<h2 class="my-10 pc-title underline">Espace article à venir :</h2>
		<div>
			<div class="flex flex-wrap -mx-4">
				{% for i in 1..8 %}
					<div class=" md:w-1/2 xl:w-1/4 px-4 ">
						<div class="bg-white rounded-lg overflow-hidden mb-10 pc-box-shadow">
							<img
									src="https://cdn.tailgrids.com/1.0/assets/images/cards/card-01/image-01.jpg"
									alt="image"
									class="w-full"
							/>
							<div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
								<h3>
									<a
											href="javascript:void(0)"
											class="
                        font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary
                        "
									>
										50+ Best creative website themes & templates
									</a>
								</h3>
								<p class="text-base text-body-color leading-relaxed mb-7">
									Lorem ipsum dolor sit amet pretium consectetur adipiscing
									elit. Lorem consectetur adipiscing elit.
								</p>
								<a
										href="javascript:void(0)"
										class="
                     inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     hover:border-primary hover:bg-primary hover:text-white
                     transition
                     "
								>
									View Details
								</a>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</section>
	<!-- ====== Cards Section End -->

{% endblock %}
