{% extends 'base.html.twig' %}

{% block title %}Votre recherches{% endblock %}

{% block body %}
    <h1>Livres de la catégorie {{ category.name }} :</h1>
    <div class="flex flex-wrap justify-around items-center">
        {% for book in  books %}
            {% include ('cards/book-card.html.twig') %}
        {% endfor %}
        <div class="flex justify-center w-10/12 my-12">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
{% endblock %}