@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_includes/buttons.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.pc-title{
    font-weight: 600;
    font-size: 32px;
}

.pc-box-shadow{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
}
